* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/images/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.s_bode {
  width: 80vw;
  padding: 5vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  border-radius: 50vw;
  background-image: url("src/assets/images/Kessemattes.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.s_bode:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  border-radius: inherit;
}



.left_section,
.right_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1vw;
  text-align: center;
}

.mid_section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.s_bode h2 {
  margin-top: 1vw;
  color: #f39c12;
  font-size: 3vw;
  font-weight: bold;
}

.s_bode h1 {
  font-size: 10vw;
}

.s_bode p {
  margin-top: 1vw;
  font-weight: bold;
  font-size: 1.2vw;
  color: #fff;
}

.s_bode img {
  height: 15vw;
  width: 15vw;
  max-width: 200px;
  max-height: 200px;
}

.lowerleft {
  position: fixed;
  bottom: 3%;
  left: 3%;
  color: white;
  cursor: pointer;
  font-size: 1.5vw;
}

@media screen and (max-width: 640px) {
  .s_bode {
    width: 90vw;
    padding: 5vw;
    flex-direction: column;
  }

  .left_section,
  .right_section,
  .mid_section {
    margin: 2vw 0;
  }

  .s_bode h1 {
    font-size: 15vw;
  }

  .s_bode h2 {
    font-size: 5vw;
  }

  .s_bode img {
    height: 20vw;
    width: 20vw;
  }
}
