<body>

<div class="container">
  <div class="s_bode">
    <div class="left_section">
      <img src="../assets/images/Logo DC.png" (click)="increaseHomeScore()" (dblclick)="decreaseHomeScore()" style="cursor: pointer">
      <h2>DC Blaue Jungs</h2>
    </div>
    <div class="mid_section">
      <h1>{{formattedHomeScore}} - {{formattedAwayScore}}</h1>
    </div>
    <div class="right_section">
      <img src={{selectedTeam.imageurl}} (click)="increaseAwayScore()" (dblclick)="decreaseAwayScore()" style="cursor: pointer">
      <h2>{{selectedTeam.name}}</h2>
    </div>
  </div>
  <div class="lowerleft" (click)="openDialog()"><mat-icon>settings</mat-icon></div>
</div>

</body>
