<body>

<div class="container">
  <div class="info-box">
    <article>
      <ul class="flex-container">
        <li class="flex-item">
          <img class="image" src="../assets/images/Logo DC.png" (click)="increaseHomeScore()"
               (dblclick)="decreaseHomeScore()" style="cursor: pointer">
          <p class="text">DC Blaue Jungs</p>
        </li>
        <li class="flex-item score-text">
          <p class="text">{{formattedHomeScore}} - {{formattedAwayScore}}</p>
        </li>
        <li class="flex-item">
          <img class="image" src={{selectedTeam.imageurl}} (click)="increaseAwayScore()"
               (dblclick)="decreaseAwayScore()" style="cursor: pointer">
          <p class="text">{{selectedTeam.name}}</p>
        </li>
      </ul>
    </article>
    <div class="lowerleft" (click)="openDialog()">
      <mat-icon>settings</mat-icon>
    </div>
  </div>
</div>
</body>
